
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  background-color: #222;
  color: #DDD;
  height: 100%;
  font-family: helvetica;
  font-size: 100%;
}

.main-wrapper {
  height: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
 
  .page {

    &#page2, &#page3, &#page4 {
      display: none;

    }
  }
}

#left-arrow, #right-arrow {
  font-size: 2em;
  margin: 10px;
  color: #888;
}

nav {
  height: 5%;
  text-align: center;
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      font-size: 1.2em;
      width: 150px;
      color: #888;

      &:nth-child(2) {
        font-size: 1.75em;
      }
    }
  }
}

.button { 
  &:hover {
    text-shadow: 0px 0px 10px #DDD;
    color: #CCC;
  }
}




